/*┌──────────────────────────────────────────────────────────────────────────┐*/
/*│ style/qtext.css ● $APROJECTS/LANServer            ● _TAG (260921:17h:25) │*/
/*└──────────────────────────────────────────────────────────────────────────┘*/
/* BODY {{{*/
BODY      { background-color: #111; }
BODY      {    margin-bottom:  50%; }
BODY *    {      font-family: monospace; }
/*}}}*/
/* A {{{*/
A:link    {            color: #8FF; }
A:visited {            color: #F0F; }
/*}}}*/

/* ECC background outline {{{*/
.bg0>SUMMARY            { background-color: #10101080 !important; }
.bg1>SUMMARY            { background-color: #964B0080 !important; }
.bg2>SUMMARY            { background-color: #FF000080 !important; }
.bg3>SUMMARY            { background-color: #FFA50080 !important; }
.bg4>SUMMARY            { background-color: #FFFF0080 !important; }
.bg5>SUMMARY            { background-color: #9ACD3280 !important; }
.bg6>SUMMARY            { background-color: #6495ED80 !important; }
.bg7>SUMMARY            { background-color: #EE82EE80 !important; }
.bg8>SUMMARY            { background-color: #A0A0A080 !important; }
.bg9>SUMMARY            { background-color: #FFFFFF80 !important; }

.bg0>SUMMARY, .bg0>PRE  {          outline: 1px solid #80808080; }
.bg1>SUMMARY, .bg1>PRE  {          outline: 1px solid #964B0080; }
.bg2>SUMMARY, .bg2>PRE  {          outline: 1px solid #FF000080; }
.bg3>SUMMARY, .bg3>PRE  {          outline: 1px solid #FFA50080; }
.bg4>SUMMARY, .bg4>PRE  {          outline: 1px solid #FFFF0080; }
.bg5>SUMMARY, .bg5>PRE  {          outline: 1px solid #9ACD3280; }
.bg6>SUMMARY, .bg6>PRE  {          outline: 1px solid #6495ED80; }
.bg7>SUMMARY, .bg7>PRE  {          outline: 1px solid #EE82EE80; }
.bg8>SUMMARY, .bg8>PRE  {          outline: 1px solid #A0A0A080; }
.bg9>SUMMARY, .bg9>PRE  {          outline: 1px solid #FFFFFF80; }

/*}}}*/
/* BOX ● [U]p [M]iddle [D]own {{{*/
BOXU,
BOXM,
BOXD {
 display             : inline-block;
 margin              : 0 0 0 0em;
 border-collapse     : collapse;
 border-left         : 8px solid #ffffff88;
 background          : linear-gradient(to right, #6665, #0001);
 padding             : 0;
 color               : #EEE;
}
BOXU { border-radius    : 0.5em 0.5em 0     0    ; }
BOXD { border-radius    : 0     0     0.5em 0.5em; }
/*}}}*/

/* cursor user-select transition {{{*/
SUMMARY                     { user-select   : none;                           }
DETAILS                     { cursor        : pointer;                        }
DETAILS                     { transition    : margin           300ms ease-in; }
SUMMARY                     { transition    : background-color 300ms ease-in; }
/*}}}*/
/* margin {{{*/
DETAILS:open                { margin            : 1em; }
PRE                         { margin            : 0px; }
/*}}}*/
/* width {{{*/
DETAILS                     { width             : fit-content;     }
/*}}}*/
/* UNFOLD COOLDOWN ● DO NOT CLOSE OTHER DETAILS DURING `unfold_cooldown` {{{*/
/* filter {{{
.unfold_cooldown  PRE     { filter: brightness( 0.5); }
.unfold_cooldown  SUMMARY { filter: brightness( 1.0); }
}}}*/
/* filter {{{
.unfold_cooldown DETAILS:open >SUMMARY {
    filter: brightness(0.5);
    transition: all      1000ms ease;
}
.unfold_cooldown DETAILS:not(open) >SUMMARY {
    filter: brightness(1.5);
    transition: all      1000ms ease;
}
}}}*/
/* outline {{{
.unfold_cooldown DETAILS:not(open) >SUMMARY {
    outline: 4px inset #DDF8;
    translate: 1em 0;
    transition: translate 500ms ease;
}
}}}*/
/* box-shadow {{{
.unfold_cooldown SUMMARY {
    transition: box-shadow 500ms ease;
}
.unfold_cooldown DETAILS:not(open) >SUMMARY {
    box-shadow: 0px 0px 0px 4px #FFF;
    transition: box-shadow 500ms ease;
}
}}}*/
/*}}}*/
/* border {{{*/
DETAILS.bg0:open            { box-shadow        : -3px 0px 0px 1px #10101080; }
DETAILS.bg1:open            { box-shadow        : -3px 0px 0px 1px #964B0080; }
DETAILS.bg2:open            { box-shadow        : -3px 0px 0px 1px #FF000080; }
DETAILS.bg3:open            { box-shadow        : -3px 0px 0px 1px #FFA50080; }
DETAILS.bg4:open            { box-shadow        : -3px 0px 0px 1px #FFFF0080; }
DETAILS.bg5:open            { box-shadow        : -3px 0px 0px 1px #9ACD3280; }
DETAILS.bg6:open            { box-shadow        : -3px 0px 0px 1px #6495ED80; }
DETAILS.bg7:open            { box-shadow        : -3px 0px 0px 1px #EE82EE80; }
DETAILS.bg8:open            { box-shadow        : -3px 0px 0px 1px #A0A0A080; }
DETAILS.bg9:open            { box-shadow        : -3px 0px 0px 1px #FFFFFF80; }
DETAILS:open                { box-shadow        : -3px 0px 0px 1px #FFFFFF80; }

DETAILS                     { border-radius     : 0em 1em 1em 0em; }
DETAILS:not(open)  >SUMMARY { border-radius     : 0em 1em 1em 0em; }
DETAILS:open                { border-radius     : 0.5em;             }
DETAILS:open       >SUMMARY { border-radius     : 0.5em 0.5em 0em 0em; }
DETAILS:open        PRE     { border-radius     : 0em 0em 0.5em 0.5em; }

DETAILS>SUMMARY             { border-left       : 8px solid #0004; }
DETAILS:open       >SUMMARY { border-left       : 0;               }
/*}}}*/
/* padding {{{*/
DETAILS                     { padding           :       0.5em; }
DETAILS             PRE     { padding           :       0.2em; }
DETAILS:not(open)           { padding           :       0.0em; }
DETAILS:not(open)  >SUMMARY { padding           : 0.5em 1.0em; }
/*}}}*/
/* font {{{*/
DETAILS:open>SUMMARY        { font-weight     : 100   !important; }
DETAILS:open>SUMMARY        { color           : white !important; }
/*}}}*/
/* color {{{*/
DETAILS:open       >SUMMARY { background-color  : #333  !important; }
DETAILS:open        PRE     { background-color  : #222 ;            }
DETAILS:not([open])>SUMMARY { background-color  : #22B ; }
DETAILS:not([open])>SUMMARY {
    font-weight     :  900;
    font-size       : 120%;
/*{{{
    text-shadow     : 1px 1px 2px #FFF8;
}}}*/
}
DETAILS:not([open])>SUMMARY { background-color  : #22B;  }  /* overridden by js_linkify */
SUMMARY                     { background-color  : #008 ; }  /* overridden by js_linkify */

SUMMARY                     {            color  : #FFA ; }
PRE                         {            color  : #FFA ; }
/*}}}*/
/* SUMMARY EM ● wrap {{{*/
DETAILS:not([open]) SUMMARY EM {
    display: none !important;
}
.wrap {
    white-space: pre-line;
    width      : 50%;
}
/*}}}*/

PRE:has(DETAILS[open]) { background-color: #000; }
.cb_copy {
    float           : right;
    opacity         :   0.5;
    margin-left     :   2em;
    font-weight     :   900;
    font-size       : 16px;
    vertical-align  : middle;
}
.cb_copy::after {
    content         : "⬜";             /* ⬛⬜ ⧉ ▢ 🖵 📝 */
    display         : inline-block;
    translate       : -1.1em -0.3em;
    font-weight     : 900;
    opacity         : 0.5;
}
